/*!
 * ベースのスタイル
 */

body {
  background: #F0F0F0;
  color: #4a4a4a;
  font-size: 20px;
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 40px;
  }
}