/*!
 * 表紙のスタイル
 */
 
.hello {
  padding: .7em 2em;
  margin: 0;
  background: rgba(255,230,230,.98);
  color: #888;
  border: 5px solid rgba(255,128,128,.2);
}
.hello p {
  margin: .3em 0;
  font-size: 78.5%;
}